body {
  background-color: #C0C0C0;
  align-content: center;
}

.stage {
  font-style: italic;
  align-self: center;
  height: 100px;
  text-align: center;
  margin-bottom: 100px;
  margin-left: 36%;
  margin-right: 36%;
  background-color: skyblue;
}

#green {
  background-color: green;
  text-align: center;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-width: thin;
}

#yellow {
  background-color: yellow;
  text-align: center;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-width: thin;
}

.empty {
  background-color: white;
  margin-bottom: 20px;
}

.black {
  background-color: black;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

a {
  color: black;
}

a:hover {
  color: white;
}

footer a {
  color: blue;
}

footer a:hover {
  color: purple;
}
