
body {
	position: absolute;
	background: url(fondo_IPHONE6.png);
	background-size: 100% 100% 100% 100% cover;
}

header {
	margin: 0% 0% 0% 0%;
}

footer {
	height: 10%;
}

#spinner {
	margin-top: 30%;
	height: 20px;
	width: 20px;
}

#logo {
	width: auto;
	height: auto;
}

#one {
	size: 20%;
}

input[type = text] {
	background-color: transparent;
	border: none;
	height: 20px;
	text-align: center;
	font-size: 15px;
}

input[type = password] {
	background-color: transparent;
	border: none;
	height: 20px;
	text-align: center;
	font-size: 15px;
}

input[type = submit] {
	border-radius: 20%;
	border: none;
	height: 50px;
	width: 150px;
	background-color: #E8E104;
	font-size: 20px;
	font-family: raleway;
	font-weight: normal;
}

#tryagain {
	border-radius: 20%;
	border: none;
	height: 50px;
	width: 150px;
	background-color: #E8E104;
	font-size: 20px;
	font-family: raleway;
	font-weight: normal;
}

#buttonlogin {
	background-color: transparent;
	border: none;
	height: 20px;
	text-align: center;
	float: right;
	margin-right: 5px;
	font-size: 15px;
}

#formregister {
	text-align: left;
}
